apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: dapr-config
  namespace: phase-v
spec:
  tracing:
    samplingRate: "1"
    zipkin:
      endpointAddress: "http://zipkin:9411/api/v2/spans"
  metric:
    enabled: true
    prometheus:
      port: 9090
      path: /metrics
  accessLog:
    enabled: true
  secrets:
    scopes:
    - storeName: kubernetes-secrets
      defaultAccess: allow
  resiliency:
    name: dapr-resiliency
