apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: statestore
  namespace: phase-v
spec:
  type: state.postgresql
  version: v1
  metadata:
  - name: connectionString
    secretKeyRef:
      name: postgres-secret
      key: connection-string
  - name: tableName
    value: "state"
  - name: metadataTableName
    value: "state_metadata"
